
/* Estilos para la sección de detalles de la historia */
.historia-details {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
}

.historia-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.historia-card img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 15px;
}

.historia-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.historia-card p {
    margin-bottom: 15px;
}

/* Estilos para la sección de comentarios */
.comments-section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
}

.comments-section h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.comment-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

.comment-card strong {
    font-weight: bold;
}

.comment-card .comment-card-content {
    margin-bottom: 5px;
}

.comment-card .comment-options {
    text-align: right;
}

.comment-card .edit-button,
.comment-card .delete-button {
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

.comment-box {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.comment-box h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.comment-box textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: vertical;
}

.comment-box button {
    padding: 8px 15px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    background-color: #E68989;
    color: white;
}
